<form *ngIf="isActiveForm">
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="first-name">First name:</label>
    <input id="first-name" name="firstname" class="form-control" type="text" [(ngModel)]="user.firstName" #firstname="ngModel" required>
  </div>
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="second-name">Second name:</label>
    <input id="second-name" name="secondname" class="form-control" type="text" [(ngModel)]="user.secondName" #secondname="ngModel" required>
  </div>
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="login">Login:</label>
    <input id="login" name="login" class="form-control" type="text" [(ngModel)]="user.login"
           #login="ngModel" required pattern="^[a-zA-Z0-9]">
  </div>
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="email">E-mail:</label>
    <input id="email" class="form-control" type="text" [(ngModel)]="user.email">
  </div>
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="phone">Phone:</label>
    <input id="phone" class="form-control" type="text" [(ngModel)]="user.phoneNumber">
  </div>
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="birthDate">Birth date:</label>
    <input id="birthDate" class="form-control" type="date" [(ngModel)]="user.birthDate">
  </div>
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="password">Password:</label>
    <input id="password" class="form-control" type="password" [(ngModel)]="user.password">
  </div>
  <div class="form-group" style="height: 70px; width: 300px; margin: 10px">
    <label for="repeatPassword">Repeat password:</label>
    <input id="repeatPassword" class="form-control" type="password" [(ngModel)]="user.repeatPassword">
  </div>
  <div style="text-align: center; width: 300px; margin: 10px">
    <button class="btn btn-outline-primary" (click)="signUp()">Sign up</button>
  </div>
</form>

<div *ngIf="!isActiveForm">
  <div>
    <div style="margin: 10px; text-align: center">
      <button class="btn btn-outline-primary" (click)="openReactiveForm()">Registration by reactive form</button>
    </div>
    <div style="margin: 10px; text-align: center">
      <button class="btn btn-outline-primary" (click)="openForm()">Registration by another way</button>
    </div>
  </div>
</div>
