<form [formGroup]="newContact">
  <div class="form-group">
    <label for="add-name">Name</label>
    <input id="add-name" class="form-control" name="name" formControlName="name"/>
    <div class="alert alert-danger" *ngIf="newContact.controls['name'].invalid && newContact.controls['name'].touched">
      Name (less then 20 symbols) is required
    </div>
  </div>
  <div class="form-group">
    <label for="add-surname">Surname</label>
    <input id="add-surname" class="form-control" name="surname" formControlName="surname"/>
    <div class="alert alert-danger"
         *ngIf="newContact.controls['surname'].invalid && newContact.controls['surname'].touched">Surname must be less
      then 20 symbols
    </div>
  </div>
  <div class="form-group">
    <label for="add-patronymic">Patronymic</label>
    <input id="add-patronymic" class="form-control" name="patronymic" formControlName="patronymic"/>
    <div class="alert alert-danger"
         *ngIf="newContact.controls['patronymic'].invalid && newContact.controls['patronymic'].touched">Patronymic must
      be less then 30 symbols
    </div>
  </div>
  <div class="form-group">
    <label for="add-phone-number">Phone</label>
    <input id="add-phone-number" class="form-control" name="phoneNumber" formControlName="phoneNumber"/>
    <div class="alert alert-danger"
         *ngIf="newContact.controls['phoneNumber'].invalid && newContact.controls['phoneNumber'].touched">Phone number
      is required. Must contains 10 numbers
    </div>
  </div>

  <button class="btn btn-outline-danger" [disabled]="newContact.invalid" (click)="addContact()">Create</button>
</form>
